@model ConstellationWebApp.Models.ViewModel
@using System.Security.Claims;


@{
    ViewData["Title"] = "Index";
    var currentUser = this.User.FindFirstValue(ClaimTypes.NameIdentifier);

}

<h1>My Starred Projects</h1>

<div id="projectDisplay">
    @foreach (var item in Model.StarredProjects.Where(i => i.UserID == currentUser))
    {
        var photoPath = "~/image/" + (item.Project.PhotoPath);


    <div class="col-md-12 card shadow text-black-50 bg-light m-2 padding">
        @*Note: We do not want to display the PhotoPath Path but the image itself*@
        <div>
            <img style="height: 300px; width: 100%; display: block;" src=" @photoPath" alt="@Html.DisplayFor(modelItem => item.Project.Title)" asp-append-version="true" />
        </div>
        <div>
            @Html.DisplayNameFor(modelItem => item.Project.Title) :
            @Html.DisplayFor(modelItem => item.Project.Title)
        </div>
        <div>
            @Html.DisplayNameFor(modelItem => item.Project.Description) :
            @Html.DisplayFor(modelItem => item.Project.Description)
        </div>
        <div>
            @Html.DisplayNameFor(modelItem => item.Project.StartDate) :
            @Html.DisplayFor(modelItem => item.Project.StartDate)
        </div>
        <div>
            @Html.DisplayNameFor(modelItem => item.Project.EndDate) :
            @Html.DisplayFor(modelItem => item.Project.EndDate)
        </div>
        <div>
            @Html.DisplayNameFor(modelItem => item.Project.CreationDate) :
            @Html.DisplayFor(modelItem => item.Project.CreationDate)
        </div>
          @* was not working and also quite of bit of data that does not truly need to be included ~ leaving it out for the time being *@
        <h4>Project Links</h4>
        @foreach (var link in item.Project.ProjectLinks)
        {
            <a class="card-link" href=" @Html.DisplayFor(modelItem => link.ProjectLinkUrl)" target="_blank">@Html.DisplayFor(modelItem => link.ProjectLinkLabel)</a>
            <br />
        }

        <form asp-action="Delete" asp-controller="StarredProjects">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="@item.ProjectID" class="form-control" value="@item.ProjectID" name="projectID" />
            </div>
            <div class="form-group">
                <input type="submit" value="Remove from MyStarred Projects" class="btn btn-primary" />
            </div>
        </form>


        <div class="card-footer">
            <a class="btn btn-md btn-secondary" asp-action="Details" asp-route-id="@item.Project.ProjectID">Details</a>
        </div>
        }
    </div>
    }
</div>

