@inject SignInManager<User> signInManager;

@using System.Security.Claims;
@{
    var userId = this.User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Share your skills and make your projects available to potential recruiters" />
    <title>@ViewData["Title"] - Home</title>
    <link rel="stylesheet" href="~/css/normalize.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/general.css" />
    <link rel="stylesheet" href="~/css/large_screen.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/w3css.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="icon" href="~/favicon.ico" />
    <style>
        html, body, h1, h2, h3, h4, h5 {
            font-family: "Open Sans", sans-serif
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-theme-d5 w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
            <a class="w3-bar-item w3-button w3-padding-large w3-theme-d3" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home w3-margin-right"></i>Logo</a>
            <a class="w3-bar-item w3-button w3-hide-small navBar-padding-large w3-hover-white" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
            <a class="w3-bar-item w3-button w3-hide-small navBar-padding-large w3-hover-white" asp-area="" asp-controller="Projects" asp-action="Index">Projects</a>
            <a class="w3-bar-item w3-button w3-hide-small navBar-padding-large w3-hover-white" asp-area="" asp-controller="Postings" asp-action="Index">Job Postings</a>
            <div class="w3-bar-item w3-hide-small w3-right" style="padding: 5px">
                <form action="" class="float-left m-auto w3-text-grey">
                    <div class="input-group mb-2">
                        <input type="search" placeholder="search.." aria-describedby="button-addon5" class="form-control" style="width: 100px">
                        <div class="input-group-append">
                            <button id="button-addon5" type="submit" class="btn btn-secondary w3-hover-green"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
                <ul class="m-auto float-right" style="padding: 0">
                    <!-- Drop Down for My Stuff NavLink -->
                    @if (signInManager.IsSignedIn(User))
                    {
                        <li class="">
                            <a class="w3-bar-item w3-large w3-padding-small w3-hover-gray ml-2" href="javascript:void(0);" onclick="openUser()"><img src="/WebAssests/siteImages/avataricon.png" class="w3-circle" style="height:35px;width:35px" alt="Avatar" title="My Account"></a>
                            <div id="navSetting" class="w3-bar-item w3-bar-block w3-theme-l4 w3-hide w3-hide-small">
                                <div class="w3-bar-item dropdown">
                                    <a data-toggle="dropdown" class="w3-bar-item w3-padding-small w3-hover-white bg-primary text-white dropdown-toggle" asp-area="" asp-controller="StarredPostings" asp-action="Index">My Stuff</a>
                                    <div id="mystuff" class="dropdown-menu w3-theme-l5">
                                        <a class="dropdown-item text-secondary" asp-controller="UserSkills" asp-action="Index">My Skills</a>
                                        <a class="dropdown-item text-secondary" asp-controller="StarredProjects" asp-action="Index">My Starred Projects</a>
                                        <a class="dropdown-item text-secondary" asp-controller="StarredPostings" asp-action="Index">My Starred Postings</a>
                                        <a class="dropdown-item text-secondary" asp-controller="StarredUsers" asp-action="Index">My Starred Users</a>
                                        <a class="dropdown-item text-primary" asp-controller="IntrestedCandidates" asp-action="Index">Posting Candidates</a>
                                    </div>
                                </div>
                                <a href="#" class="w3-bar-item w3-padding-small w3-hover-white">Place holder</a>
                                <a href="#" class="w3-bar-item w3-padding-small w3-hover-white">Place holder</a>
                                <a href="#" class="w3-bar-item w3-padding-small w3-hover-white">Place holder</a>

                                <form method="get" asp-action="Edit" asp-controller="Users" asp-route-id="@userId">
                                    <button type="submit" class="w3-bar-item w3-padding-small bg-secondary w3-hover-white">Edit&nbsp;Profile</button>
                                </form>
                                <form method="post" asp-action="logout" asp-controller="account">
                                    <button type="submit" class="w3-bar-item w3-padding-small bg-success w3-hover-white">Logout</button>
                                </form>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="w3-bar-item" style="padding: 0 5px">
                            <a class="btn btn-lg btn-primary w3-padding-small" asp-controller="account" asp-action="register">Register</a>
                        </li>
                        <li class="w3-bar-item" style="padding: 0 5px">
                            <a class="btn btn-lg btn-success w3-padding-small" asp-controller="account" asp-action="login">Login</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large" style="margin-top: 50px">
        <a class="w3-bar-item w3-padding-small w3-hover-white" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
        <a class="w3-bar-item w3-padding-small w3-hover-white" asp-area="" asp-controller="Projects" asp-action="Index">Projects</a>
        <a class="w3-bar-item w3-padding-small w3-hover-white" asp-area="" asp-controller="Postings" asp-action="Index">Job Postings</a>
        <ul class="w3-bar-item w3-padding-small" style="margin-bottom: 0; padding-left: 0">
            <!-- Drop Down for My Stuff NavLink -->
            @if (signInManager.IsSignedIn(User))
            {
                <li class="w3-bar-item dropdown">
                    <a data-toggle="dropdown" class="text-white border-white btn btn-sm btn-secondary dropdown-toggle" asp-area="" asp-controller="StarredPostings" asp-action="Index">My Stuff</a>
                    <div id="mystuff" class="dropdown-menu w3-theme-l5">
                        <a class="dropdown-item text-secondary" asp-controller="StarredProjects" asp-action="Index">My Starred Projects</a>
                        <a class="dropdown-item text-secondary" asp-controller="StarredPostings" asp-action="Index">My Starred Postings</a>
                        <a class="dropdown-item text-secondary" asp-controller="StarredUsers" asp-action="Index">My Starred Users</a>
                        <a class="dropdown-item text-primary" asp-controller="IntrestedCandidates" asp-action="Index">Posting Candidates</a>
                    </div>
                </li>

                <li class="w3-bar-item">
                    <form method="get" asp-action="Edit" asp-controller="Users" asp-route-id="@userId">
                        <button type="submit" class="btn btn-sm btn-primary w3-padding-small">Edit&nbsp;Profile</button>
                    </form>
                </li>
                <li class="w3-bar-item">
                    <form method="post" asp-action="logout" asp-controller="account">
                        <button type="submit" class="btn btn-sm btn-success w3-padding-small">Logout</button>
                    </form>
                </li>
            }
            else
            {
                <li class="w3-bar-item">
                    <a class="btn btn-sm btn-primary w3-padding-small" asp-controller="account" asp-action="register">Register</a>
                </li>
                <li class="w3-bar-item">
                    <a class="btn btn-sm btn-success w3-padding-small" asp-controller="account" asp-action="login">Login</a>
                </li>
            }
        </ul>
    </div>

    @*Main section Starts Here*@
    <main role="main">
        @RenderBody()
    </main>

    @*Move To Top Button*@
    <button class="btn btn-success btn-sm" onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-arrow-alt-circle-up"></i></button>

    @*Footer Section*@
    <footer class="w3-container w3-theme-d3 text-center w3-padding-24">
        <p>PlaceHolder</p>
    </footer>
    <footer class="w3-container w3-theme-d5 text-center w3-padding-16">
        <p>&copy; 2020 - ConstellationWebApp - <a class="text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive//jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
