
@model ConstellationWebApp.Models.ViewModels.ProjectEditViewModel
@using System.Security.Claims;


@{
    ViewData["Title"] = "Delete";
     var photoPath = "";
    if (Model.PhotoPath != null)
    {
     photoPath = "~/image/" + Model.PhotoPath;
    }
    else
    {
     photoPath = "~/WebAssests/siteImages/projectsicon.png";
    }
    var currentUser = this.User.FindFirstValue(ClaimTypes.NameIdentifier);
    bool canView = false;
}
@foreach (var collaborator in Model.currentProject.UserProjects)
{
    if (collaborator.UserID == currentUser)
    {
        canView = true;
    }
}

<link rel="stylesheet" href="/css/project-delete.css" />
@if (canView == true)
{
    <div class="project-delete-container">
        <div class="project-delete-head"><h3>DELETE</h3></div>
        <div class="delete-warning">
            <h5>Are you sure you want to delete this project?</h5>
        </div>
        <div class="project-delete-picture">
            <img src=" @photoPath" alt="@Html.DisplayFor(model => model.Title)" asp-append-version="true" />
        </div>
        <div class="project-delete-content">
            <div class="project-title"> @Html.DisplayFor(model => model.Title)</div>
            <!-- Project Start and End Dates -->
            <div class="project-date">
                <p><strong> @Html.DisplayNameFor(model => model.CreationDate) : </strong> @Html.DisplayFor(model => model.CreationDate)</p>
                <p><strong>@Html.DisplayNameFor(model => model.StartDate) : </strong> @Html.DisplayFor(model => model.StartDate)</p>
                <p><strong>@Html.DisplayNameFor(model => model.EndDate) : </strong>@Html.DisplayFor(model => model.EndDate)</p>
            </div>
            <h3>Description</h3>
            <p>@Html.DisplayFor(model => model.Description)</p>
            @*<div class="project-delete-link">
                <h5>Project Links</h5>
                <a href="#">Github</a>
                <a href="#">Github</a>
                <a href="#">Github</a>
            </div>*@
        </div>
        <div class="project-delete-footer">
            <form asp-action="Delete">
                <input type="hidden" asp-for="ProjectID" />
                <button type="submit" value="Delete" class="btn btn-md btn-danger">Delete</button>
                <a style="text-decoration: none;" class="btn btn-md btn-secondary" asp-action="Index">Back to List</a>
            </form>
        </div>
    </div>
}

else
{
    <h2>You are not part of this project and do not have permission to remove it.</h2>

    @*   foreach (var collab in Model.currentProject.UserProjects)
        {
            var collabPath = "~/image/" + (collab.User.PhotoPath);
            var collabMemberPath = "https://localhost:44359/Users/Details/" + (collab.User.Id);
            <div>
                <a href="@collabMemberPath"><img class="small-thumbnail" src=" @collabPath" alt="@Html.DisplayFor(modelItem => collab.User.UserName)" asp-append-version="true" /></a>
                <a href="@collabMemberPath">@Html.DisplayFor(modelItem => collab.User.FirstName)  @Html.DisplayFor(modelItem => collab.User.LastName)  : @Html.DisplayFor(modelItem => collab.User.UserName)</a>
            </div>
        }
    *@
    <div>
        <a class="btn btn-md btn-secondary" asp-action="Index">Back to List</a>
    </div>
}

