@model ConstellationWebApp.Models.ViewModels.ProjectEditViewModel
@using System.Security.Claims;

@{
    ViewData["Title"] = "Details";
    var photoPath = "~/image/" + Model.PhotoPath;
    var currentUser = this.User.FindFirstValue(ClaimTypes.NameIdentifier);
    var allReadyStarred = false;
    var loggedOn = false;
    var addShown = false;
    var kickOut = false;
}
<div class="container-fluid padding">
    @*Button for adding projects to stardProject*@
    @if (currentUser != null)
    {
        List<ConstellationWebApp.Models.AssignedStarredProjectsData> starredData = ViewBag.StarredProjects;
        foreach (var starred in starredData)
        {
            if (starred.UserID == currentUser && starred.Starred == true)
            {
                <form asp-action="Delete" asp-controller="StarredProjects">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input type="hidden" asp-for="ProjectID" class="form-control" value="@Model.ProjectID" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Remove from MyStarred Projects" class="btn btn-primary" />
                    </div>
                </form>
                allReadyStarred = true;
            }
        }

        if (allReadyStarred == false)
        {
            <form asp-action="Create" asp-controller="StarredProjects">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input type="hidden" asp-for="ProjectID" class="form-control" value="@Model.ProjectID" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Add to MyStarred Projects" class="btn btn-primary" />
                </div>
            </form>
        }

    }

    @*Project Heading Display*@
    <h2 class="titleBorder shadow mb-0">Project Details</h2>

    @*Project Details*@
    <div class="card bg-light border-bottom">
        <div class="">
            @*Project Owner Picture here*@
            <div class="col-sm-12 col-md-4 border float-left">
                <img style="width: 100%; height: 300px; margin: auto" src=" @photoPath" alt="@Html.DisplayFor(model => model.Title)" asp-append-version="true" />
                <h5>Project Owner's Name Goes Here</h5>
            </div>
            @*Project Title and Collaborators Here*@
            <div class="col-sm-12 col-md-8 pr-0 float-right">
                @*Title Section*@
                <div class="float-left border col-md-8">
                    @*Project Title*@
                    <h3 class="card mb-0">
                        <strong class="text-center text-primary">@Html.DisplayNameFor(model => model.Title) : <span>@Html.DisplayFor(model => model.Title)</span></strong>
                    </h3>

                    @*Description*@
                    <h4 class="card mb-0 text-center text-primary">
                        @Html.DisplayNameFor(model => model.Description)
                    </h4>
                    <p class="text-justify">
                        @Html.DisplayFor(model => model.Description)
                    </p>
                    @*Creation, Start and End Dates*@
                    <h6 class="">
                        <strong> @Html.DisplayNameFor(model => model.CreationDate) : </strong><span>@Html.DisplayFor(model => model.CreationDate)</span>
                    </h6>
                    <h6 class="">
                        <strong> @Html.DisplayNameFor(model => model.StartDate) : </strong><span>@Html.DisplayFor(model => model.StartDate)</span>
                    </h6>
                    <h6 class="">
                        <strong>  @Html.DisplayNameFor(model => model.EndDate) : </strong><span>@Html.DisplayFor(model => model.EndDate)</span>
                    </h6>

                    @*Project Links*@
                    <h5 class="card text-center text-primary">Project Links</h5>
                    @{
                        if (Model.UserProjects != null)
                        {
                            foreach (var person in Model.UserProjects)
                            {
                                if (person.UserID == currentUser)
                                {
                                    loggedOn = true;
                                }
                            }

                            foreach (var item in Model.ProjectLinks.Where((i => i.Projects.ProjectID == Model.ProjectID)))
                            {
                                <p class="card-subtitle">
                                    <strong>@Html.DisplayFor(model => item.ProjectLinkLabel) : </strong><span class="card-link">@Html.DisplayFor(model => item.ProjectLinkUrl)</span>
                                </p>

                            }
                        }
                    }
                </div>
                @*Collaborators*@
                <h4 class="card text-center text-primary">Collaborator</h4>
                <div class="float-right d-flex flex-wrap col-md-4 pr-0">
                    @{
                        foreach (var collab in Model.currentProject.UserProjects)
                        {
                            var collabPath = "~/image/" + (collab.User.PhotoPath);
                            var collabMemberPath = "https://localhost:44359/Users/Details/" + (collab.User.Id);
                            <a href="@collabMemberPath"><img class="small-thumbnail my-1" src=" @collabPath" alt="@Html.DisplayFor(modelItem => collab.User.UserName)" asp-append-version="true" /></a>

                        }
                    }
                </div>
            </div>
        </div>
        @*Project Picture Card Footer Bottons*@
        @*Card footer section*@

        <div class="col-12">
            @*<img style="width: 80%; height: 300px; margin: auto" src=" @photoPath" alt="@Html.DisplayFor(model => model.Title)" asp-append-version="true" />*@
            <div class="card-footer">
                @if (loggedOn == false)
                {
                    <a class="btn btn-md btn-secondary" asp-action="Index">Back to List</a>
                }
                else
                {
                    <a class="btn btn-md btn-primary" asp-action="Edit" asp-route-id="@Model.ProjectID">Edit</a>
                    <a class="btn btn-md btn-secondary" asp-action="Index">Back to List</a>
                }
            </div>
        </div>
    </div>

    @* Project Postings*@
    <section>
        @{
            //if the collaborator has postings and others want to add that posting to the project
            <h2>Open Roles for this Project</h2>
            <div id="projectDisplay">
                @foreach (var collaborator in Model.currentProject.UserProjects)
                {
                    var postingListholder = Model.Postings.Where(i => i.PostingOwner.Id == collaborator.UserID);
                    var projectPostingHolder = Model.ProjectPostings;
                    //if user has no postings do not create an empty form
                    if (!(postingListholder.Any()) || addShown == true)
                    {
                        continue;
                    }
                    //postings linked to the project
                    @foreach (var posting in postingListholder)
                    {
                        kickOut = true;
                        foreach (var projPost in projectPostingHolder.Where(i => i.PostingID == posting.PostingID && i.ProjectID == Model.ProjectID))
                        {
                            kickOut = false;
                        }
                        if (kickOut == true || addShown == true)
                        {
                            continue;
                        }

                        photoPath = "~/image/" + (posting.PostingOwner.PhotoPath);
                        var collabMemberPath = "https://localhost:44359/Users/Details/" + (posting.PostingOwner.Id);

                        <div class="card shadow-lg text-black text-center m-2 padding">
                            @*Name of Company*@
                            <h3 class="card-header bg-primary py-1 text-white text-center m-0">
                                @Html.DisplayFor(modelItem => posting.PostingFor)
                            </h3>
                            @*Position*@
                            <h5 class="text-center m-0 bg-light p-2 border-bottom">
                                <strong class="text-success">Position : </strong><span class="mb-0 p-1 text-black">@Html.DisplayFor(modelItem => posting.PostingTitle)</span>
                            </h5>

                            <section class="bg-light text-wrap text-justify">
                                <div class="col-6 text-left float-left">
                                    <div class="bg-light text-wrap p-2 py-0 border-bottom"><strong class="text-black">Recruiter's Name : </strong><span class="text-black-50">@Html.DisplayFor(modelItem => posting.PostingOwner.UserName)</span></div>
                                    <a class="m-1 border-success" href="@collabMemberPath"><img style="height: 300px; width: 100%; display: block; box-shadow: 5px 5px 15px #343a40;" src=" @photoPath" alt="@Html.DisplayFor(modelItem => posting.PostingOwner.UserName)" asp-append-version="true" /></a>
                                </div>
                                <div class="col-6 float-right text-center">
                                    @*Type of Posting*@
                                    <h5 class="card-title bg-info container-fluid float-right py-2 text-white rounded mt-2">Type of Posting</h5>
                                    @foreach (var type in posting.Posting_PostingTypes)
                                    {
                                        <h6 class="text-black">
                                            @type.PostingTypes.PostingTypeName
                                        </h6>
                                    }
                                    @*Description of Posting*@
                                    <h5 class="card-title bg-info container-fluid float-right py-2 text-white rounded">Description</h5>
                                    <p class="text-black-50 p-2">@Html.DisplayFor(modelItem => posting.Description)</p>
                                </div>
                            </section>

                            <section class="card-footer text-left">
                                @if ((currentUser == posting.PostingOwner.Id) && (currentUser != null))
                                {
                                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@posting.PostingID">Edit</a>
                                    <a class="btn btn-sm btn-secondary" asp-action="Details" asp-route-id="@posting.PostingID">Details</a>
                                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@posting.PostingID">Delete</a>
                                }
                                else
                                {
                                    <a class="btn btn-sm btn-secondary" asp-action="Details" asp-route-id="@posting.PostingID">Details</a>
                                }
                            </section>
                        </div>
                    }
                    <div class="form-group mb-0">
                        <input type="hidden" value="@Model.ProjectID" class="form-control" name="projectID" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Link selected Posting" class="btn btn-sm btn-info" />
                    </div>

                    addShown = true;
                }
            </div>
        }
    </section>
</div>
        