@model ConstellationWebApp.Models.ViewModel
@using System.Security.Claims;

@{
    ViewData["Title"] = "Projects Index";
    var currentUser = this.User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<link rel="stylesheet" href="/css/project-index.css" />
<!-- The project index container -->
<!-- #region Info button:-->
<div>
    <button id="btn1"><i class="fa fa-info-circle" style="font-size:24px"></i></button>
    <p id="hidden-info-blip">
        Whether users are working in teams or learning independently, the projects page allows
        you to view the projects that others are currently working on or have completed. Users
        can include all they did to complete the project and showcase what they gained from the
        experience. Create your own projects to increase your marketability.
    </p>
</div>
<!-- #endregion -->
<br>
<div class="project-index-container">
    <div class="project-index-bread-crumb">Home > Projects</div>
    <!-- search Bars -->
    <div class="project-index-search-bars">
        <!-- Create project button -->
        <a asp-action="Create"><div class="create-project btn btn-md btn-success">Create&nbsp;Project</div></a>
        <form action="" class="search-bar0">
            <div class="input-group">
                <input type="search" placeholder="Search.." aria-describedby="button-addon5" class="form-control" style="width: 100px">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
        <form asp-action="Index" asp-controller="Projects" class="">
            <input value="filterByNew" type="hidden" name="sortOrderNew">
            <button type="submit" class="btn btn-primary sort-button1">Sort&nbsp;by&nbsp;Newest&nbsp;Projects</button>
        </form>
        <form asp-action="Index" asp-controller="Projects" class="">
            <input value="filterByOld" type="hidden" name="sortOrderOld">
            <button type="submit" class="btn btn-primary sort-button2">Sort&nbsp;by&nbsp;Oldest&nbsp;Projects</button>
        </form>
        <form asp-action="Index" asp-controller="Projects" class="search-bar1">
            <div class="input-group">
                <input type="search" name="titleSearch" placeholder="Search by title.." aria-describedby="button-addon5" class="form-control" style="width: 100px">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>


    <div class="create-project">

    </div>
    <!-- Project contents goes in here -->
    <div class="project-index-head"><h2>Projects</h2></div>
    <div class="project-index-content">
        @foreach (var item in Model.Projects)
        {
            var photoPath = "";
            if (item.PhotoPath != null)
            {
                photoPath = "~/image/" + item.PhotoPath;
            }
            else
            {
                photoPath = "~/WebAssests/siteImages/projectsicon.png";

            }

            @*CSS RULES FOR INDIVIDUAL CARDS*@
            <div class="card shadow-lg border-primary mt-1 mb-3 ml-2 mr-2">

                @*Project Title*@
                <h4 class="card-header bg-primary py-1 text-white text-center m-0">
                    @*@Html.DisplayNameFor(modelItem => item.Title) :*@
                    @Html.DisplayFor(modelItem => item.Title)
                </h4>
                @*<img style="height: 300px; width: 100%; display: block;" src=" @photoPath" alt="@Html.DisplayFor(modelItem => item.Title)" asp-append-version="true" />*@

                @*COLLABORATORS*@
                <h5 class="card-header bg-light py-1 text-black text-center m-0">Collaborators</h5>
                <section class="d-flex flex-wrap justify-content-center">
                    @{
                        bool isLoggedIn = false;
                        foreach (var collab in item.UserProjects)

                        {
                            var collabPath = "";
                            if (collab.User.PhotoPath != null)
                            {
                                collabPath = "~/image/" + (collab.User.PhotoPath);
                            }
                            else
                            {
                                collabPath = "~/WebAssests/siteImages/avataricon.png";
                            }
                            var collabMemberPath = "../Users/Details/" + (collab.User.Id);

                            <a href="@collabMemberPath"><img src=" @collabPath" alt="@Html.DisplayFor(modelItem => collab.User.UserName)" asp-append-version="true" /></a>

                            if (collab.UserID == currentUser)
                            {
                                isLoggedIn = true;
                            }
                        }
                    }
                </section>
                @*Project Desccription*@
                <div class="bg-light border-dark">
                    <h6 class="card-header bg-light py-1 text-black text-center m-0">@Html.DisplayNameFor(modelItem => item.Description)</h6>
                    <p class="text-black text-justify mb-1 text-truncate px-2">@Html.DisplayFor(modelItem => item.Description)</p>
                </div>

                @*Project Dates*@
                <div class="px-2">
                    <p class="m-0">
                        <strong class="text-black">@Html.DisplayNameFor(modelItem => item.StartDate) : </strong>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </p>
                    <p class="m-0">
                        <strong class="text-black">@Html.DisplayNameFor(modelItem => item.EndDate) : </strong>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </p>
                    <p class="m-0">
                        <strong class="text-black">@Html.DisplayNameFor(modelItem => item.CreationDate) : </strong>
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </p>
                </div>

                @*Project Links*@
                <div class="bg-light">
                    <h5 class="card-header bg-light py-1 text-black text-center m-0">Project Links</h5>
                    @foreach (var link in item.ProjectLinks)
                    {
                        <a class="text-primary px-2" href=" @link.ProjectLinkUrl" target="_blank">@link.ProjectLinkLabel</a>
                    }
                </div>

                @*Card Footer*@
                <section class="card-footer align-text-bottom px-2 py-2">
                    @{

                        if (isLoggedIn == true)
                        {
                            <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.ProjectID">Edit</a>
                            <a class="btn btn-sm btn-secondary" asp-action="Details" asp-route-id="@item.ProjectID">Details</a>
                            <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.ProjectID">Delete</a>
                        }
                        else
                        {
                            <a class="btn btn-sm btn-secondary" asp-action="Details" asp-route-id="@item.ProjectID">Details</a>
                        }
                    }
                </section>
            </div>

        }
        <div class="project-index-cards"></div>
    </div>
</div>