@model ConstellationWebApp.Models.ViewModel
@using System.Security.Claims;

@{
    ViewData["Title"] = "Projects Index";
    var currentUser = this.User.FindFirstValue(ClaimTypes.NameIdentifier);
}
                                    @*Page Header*@
        <h2 id="userTitle" class="titleBorder shadow mx-auto">Project Display</h2>
    <section style="margin-left: 80%;" id="newPLink">
        <a class="btn btn-md btn-primary mb-1" asp-action="Create">Create&nbsp;New&nbsp;Project</a>
    </section>


    <div id="projectDisplay">
        @foreach (var item in Model.Projects)
            {
                var photoPath = "~/image/" + (item.PhotoPath);

            @*CSS RULES FOR INDIVIDUAL CARDS*@
        <div class="card shadow-lg border-primary mt-1 mb-3 ml-2 mr-2">
       
            @*Project Title*@
            <h4 class="card-header bg-primary py-1 text-white text-center m-0" >
                @*@Html.DisplayNameFor(modelItem => item.Title) :*@
                @Html.DisplayFor(modelItem => item.Title)
            </h4>
            @*<img style="height: 300px; width: 100%; display: block;" src=" @photoPath" alt="@Html.DisplayFor(modelItem => item.Title)" asp-append-version="true" />*@

            @*COLLABORATORS*@
            <h5 class="card-header bg-light py-1 text-black text-center m-0">Collaborators</h5>
            <section class="d-flex flex-wrap justify-content-center">
                @{
                    bool isLoggedIn = false;
                    foreach (var collab in item.UserProjects)

                    {
                        var collabPath = "~/image/" + (collab.User.PhotoPath);
                        var collabMemberPath = "https://localhost:44359/Users/Details/" + (collab.User.Id);

                        <a href="@collabMemberPath"><img class="small-thumbnail" src=" @collabPath" alt="@Html.DisplayFor(modelItem => collab.User.UserName)" asp-append-version="true" /></a>

                        if (collab.UserID == currentUser)
                        {
                            isLoggedIn = true;
                        }
                    }
                }
            </section>
            @*Project Desccription*@
            <div class="bg-light border-dark">
                <h6 class="card-header bg-light py-1 text-black text-center m-0">@Html.DisplayNameFor(modelItem => item.Description)</h6>
                <p class="text-black text-justify mb-1 text-truncate px-2">@Html.DisplayFor(modelItem => item.Description)</p>
                </div>

            @*Project Dates*@
        <div class="px-2">
            <p class="m-0">
                <strong class="text-black">@Html.DisplayNameFor(modelItem => item.StartDate) : </strong>
                @Html.DisplayFor(modelItem => item.StartDate)
            </p>
            <p class="m-0">
                <strong class="text-black">@Html.DisplayNameFor(modelItem => item.EndDate) : </strong>
                @Html.DisplayFor(modelItem => item.EndDate)
            </p>
            <p class="m-0">
                <strong class="text-black">@Html.DisplayNameFor(modelItem => item.CreationDate) : </strong>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </p>
        </div>

                @*Project Links*@
                <div class="bg-light">
                    <h5 class="card-header bg-light py-1 text-black text-center m-0">Project Links</h5>
                    @foreach (var link in item.ProjectLinks)
                    {
                        <a class="text-primary px-2" href=" @link.ProjectLinkUrl" target="_blank">@link.ProjectLinkLabel</a>
                    }
                </div>
                
                    @*Card Footer*@
                    <section class="card-footer align-text-bottom px-2 py-2">
                        @{

                            if (isLoggedIn == true)
                            {
                                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.ProjectID">Edit</a>
                                <a class="btn btn-sm btn-secondary" asp-action="Details" asp-route-id="@item.ProjectID">Details</a>
                                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.ProjectID">Delete</a>
                            }
                            else
                            {
                                <a class="btn btn-sm btn-secondary" asp-action="Details" asp-route-id="@item.ProjectID">Details</a>
                            }
                        }
                    </section>
                </div>
           
        }
    </div>