@model ConstellationWebApp.Models.ViewModel
@using System.Security.Claims;

@{
    ViewData["Title"] = "Projects Index";
    var currentUser = this.User.FindFirstValue(ClaimTypes.NameIdentifier);
}
    <div class="container col-md-6 rounded shadow " >
        <h3 class="text-black-50 text-center mt-2 py-3 py-sm-2">Constellation Projects</h3>
    </div>
    <a class="btn btn-md btn-primary mb-1" style="margin-left: 80%;" id="newPLink" asp-action="Create">Create&nbsp;New&nbsp;Project</a>

@* Take this to an actual css later *@

@*Note: We do not want to display when the data cell is empty. Only when populated*@
@* Need to be solved:

*@
    <div class="card-columns">
        @foreach (var item in Model.Projects)
            {
                var photoPath = "~/image/" + (item.PhotoPath);

            @*CSS RULES FOR INDIVIDUAL CARDS*@
        <div class="card shadow-lg text-black text-center m-2 padding">
            @*Note: We do not want to display the PhotoPath Path but the image itself*@
            <img style="height: 300px; width: 100%; display: block;" src=" @photoPath" alt="@Html.DisplayFor(modelItem => item.Title)" asp-append-version="true" />
            <div class="card-body">
                <h4 class="card-title bg-light container-fluid py-1 shadow text-success rounded">
                    @Html.DisplayNameFor(modelItem => item.Title) :
                    @Html.DisplayFor(modelItem => item.Title)
                </h4>
                <article class="card-text text-center text-justify text-truncate mb-1">
                        <strong class="text-warning">
                            @Html.DisplayNameFor(modelItem => item.Description)
                        </strong><br />
                            @Html.DisplayFor(modelItem => item.Description)
                </article>
                <div>
                    <p>
                        <strong class="text-warning">
                            @Html.DisplayNameFor(modelItem => item.StartDate)
                        </strong><br />
                            @Html.DisplayFor(modelItem => item.StartDate)
</p>
                    <p>
                        <strong class="text-warning">
                            @Html.DisplayNameFor(modelItem => item.EndDate)
                        </strong><br />
                            @Html.DisplayFor(modelItem => item.EndDate)
</p>
                    <p>
                        <strong class="text-warning">
                            @Html.DisplayNameFor(modelItem => item.CreationDate)
                        </strong><br />
                            @Html.DisplayFor(modelItem => item.CreationDate)
</p>
                </div>
                <h5 class="card-title bg-light container py-1 shadow text-primary rounded">Project Links</h5>
                @foreach (var link in item.ProjectLinks)
                {
                    <a class="card-link" href=" @Html.DisplayFor(modelItem => link.ProjectLinkUrl)" target="_blank">@Html.DisplayFor(modelItem => link.ProjectLinkLabel)</a>
                    <br />
                }
                <h4 class="card-title bg-light container-fluid py-1 shadow text-success rounded">COLLABORATORS</h4>
                <section class="d-flex flex-wrap justify-content-center" style="margin-bottom: 3em;">
                    @{

                        bool isLoggedIn = false;
                        foreach (var collab in item.UserProjects)

                        {
                            var collabPath = "~/image/" + (collab.User.PhotoPath);
                            var collabMemberPath = "https://localhost:44359/Users/Details/" + (collab.User.Id);

                            <a href="@collabMemberPath"><img class="small-thumbnail" src=" @collabPath" alt="@Html.DisplayFor(modelItem => collab.User.UserName)" asp-append-version="true" /></a>

                            if (collab.UserID == currentUser)
                            {
                                isLoggedIn = true;
                            }
                        }
                    }
                </section>
                <section class="text-left">
                    @{

                        if (isLoggedIn == true)
                        {
                            <div class="card-footer">
                                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.ProjectID">Edit</a>
                                <a class="btn btn-sm btn-secondary" asp-action="Details" asp-route-id="@item.ProjectID">Details</a>
                                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.ProjectID">Delete</a>
                            </div>
                        }
                        else
                        {
                            <div class="card-footer">
                                <a class="btn btn-sm btn-secondary" asp-action="Details" asp-route-id="@item.ProjectID">Details</a>
                            </div>
                        }
                    }
                </section>
            </div>
        </div>
        }
    </div>





