@model ConstellationWebApp.Models.User

@{
    ViewData["Title"] = "Delete User";
}

    
          <div class="container-fluid padding">
            <div class="row padding">
                <div class="col-md-12">
                    <div class="card text-black-50 text-white  bg-light mb-3 padding">
                        <h1>Delete</h1>

                        <h3>Are you sure you want to delete this?</h3>
                        <div>
                            <h4>User</h4>
                            <hr />

                            <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.UserName)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.UserName)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.FirstName)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.FirstName)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.LastName)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.LastName)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Bio)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Bio)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Seeking)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Seeking)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.PhotoPath)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.PhotoPath)
                                </dd>
                            </dl>
                            <div class="card-footer">
                                <form asp-action="Delete">
                                    <input type="hidden" asp-for="Id" />
                                    <input type="submit" value="Delete" class="btn btn-md btn-danger" />
                                    <a style="text-decoration: none;" class="btn btn-md btn-secondary" asp-action="Index">Back to List</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   

