@model ConstellationWebApp.Models.User
@using System.Security.Claims;


@{
    ViewData["Title"] = "Details";
    var photoPath = "~/image/" + Model.PhotoPath;
    var resumePath = "https://localhost:44359/Resumes/" + (Model.ResumePhotoPath);
    var currentUser = this.User.FindFirstValue(ClaimTypes.NameIdentifier);
    var allReadyStarred = false;
    List<ConstellationWebApp.Models.RecruiterPicks> picks = ViewBag.recruitersData;
    List<ConstellationWebApp.Models.Posting> postings = ViewBag.currentUserPostings;
}

@*User Profile Heading Card*@
    <div class="container padding" >
        <div class="mx-auto col-md-10 rounded shadow-lg">
            <h3 id="userTitle" class="text-black text-center text-primary mt-2 py-3 py-sm-2">@Html.DisplayFor(model => model.FirstName)  @Html.DisplayFor(model => model.LastName)'s Profile</h3>
        </div>
    </div>

    <section style="margin-left: 65%;" id="newPLink">
        @if (currentUser != null)
        {
            List<ConstellationWebApp.Models.StarredUser> starredData = ViewBag.StarredUsers;
            foreach (var starred in starredData)
            {
                if (starred.StarredOwnerID == currentUser && starred.UserStarredID == @Model.Id)
                {
                    <form asp-action="Delete" asp-controller="StarredUsers">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group mb-0">
                            <input type="hidden" asp-for="Id" class="form-control" value="@Model.Id" />
                        </div>
                        <div class="form-group mx-auto mb-0">
                            <input class="btn btn-md btn-primary mb-1 mx-auto" type="submit" value="Remove from MyStarred Users" />
                        </div>
                    </form>
                    allReadyStarred = true;
                }
            }

            if (allReadyStarred == false)
            {
                <form asp-action="Create" asp-controller="StarredUsers">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mb-0">
                        <input type="hidden" asp-for="Id" class="form-control" value="@Model.Id" />
                    </div>
                    <div class="form-group mb-0 mx-auto">
                        <input class="btn btn-md btn-primary mb-1 mx-auto" type="submit" value="Add to MyStarred Users" />
                    </div>
                </form>
            }

            @*Recuiter can add user to many "Picks" that the user is not already part of *@
            if (postings != null)
            {
                <h4>Add this User to your picks</h4>
                <form asp-action="CreateManyPicks" asp-controller="IntrestedCandidates">
                    @{
                        int cnt = 0;
                        List<int> shown = new List<int>();
                        foreach (var posting in postings.Where(i => !(shown.Contains(i.PostingID))))
                        {
                            var assigned = false;
                            foreach (var pick in picks.Where(i => i.CandidateID == Model.Id && i.RecuiterID == currentUser && i.PostingID == posting.PostingID))
                            {
                                assigned = true;
                            }
                            if (assigned == false)
                            {
                                if (cnt++ % 3 == 0)
                                {
                                    @:<div>
                                    }

                                    @:<div>
                                        <input type="checkbox" name="postings" value="@posting.PostingID" @(Html.Raw((assigned) ? "checked=\"checked\"" : "")) /> @:  @posting.PostingTitle
                                    @:</div>
                                    shown.Add(posting.PostingID);
                                }
                            }
                        @:</div>
                    }
                    <div class="form-group mb-0">
                        <input type="hidden" class="form-control" value="@currentUser" name="recruiterID" />
                    </div>
                    <div class="form-group mb-0">
                        <input type="hidden" class="form-control" value="@Model.Id" name="candidateID" />
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Add to Picks" class="btn btn-primary" />
                    </div>
                </form>

                @*Remove a user from many picks that the user is already part of*@
                <h4>Remove this User to your picks</h4>
                <form asp-action="DeleteManyPick" asp-controller="IntrestedCandidates">
                    @{
                        int count = 0;
                        List<int> showndeleted = new List<int>();
                        foreach (var posting in postings.Where(i => !(showndeleted.Contains(i.PostingID))))
                        {
                            var assigned = false;
                            foreach (var pick in picks.Where(i => i.CandidateID == Model.Id && i.RecuiterID == currentUser && i.PostingID == posting.PostingID))
                            {
                                if (count++ % 3 == 0)
                                {
                                    @:<div>
                                    }
                                    @:<div>
                                        <input type="checkbox" name="recuiterPicks" value="@pick.RecuiterPicksID" @(Html.Raw((assigned) ? "checked=\"checked\"" : "")) /> @:  @posting.PostingTitle
                                    @:</div>
                                    showndeleted.Add(posting.PostingID);
                                }
                            }
                        @:</div>
                    }
                    <div class="form-group">
                        <input type="submit" value="Remove from picks" class="btn btn-primary" />
                    </div>
                </form>
            }
        }
    </section>

@*User Profile Card Display*@
<aside>
    <div class="container padding">
        <div class="col-md-10 mx-auto">
            <div class="card text-black shadow-lg mb-2 padding">
                <img style="height: 400px; width: 80%;" class="mx-auto d-block" src="@photoPath" asp-append-version="true" />
                <div class="card-body">
                    <div>
                        <a href="@resumePath">  @Html.DisplayFor(model => model.UserName)'s Resume</a>
                    </div>
                    <div>
                        <p>
                            <strong>
                                @Html.DisplayNameFor(model => model.UserName) :
                            </strong>
                            @Html.DisplayFor(model => model.UserName)
                        </p>

                        <p>
                            <strong>
                                @Html.DisplayNameFor(model => model.FirstName) :
                            </strong>
                            @Html.DisplayFor(model => model.FirstName)
                        </p>


                        <p>
                            <strong>
                                @Html.DisplayNameFor(model => model.LastName) :
                            </strong>
                            @Html.DisplayFor(model => model.LastName)
                        </p>
                    </div>
                    <div class="card-text text-justify mb-2">
                        <strong> @Html.DisplayNameFor(model => model.Bio) : </strong>
                        @Html.DisplayFor(model => model.Bio)
                    </div>
                    <div class="card-text mb-2">
                        <stong> @Html.DisplayNameFor(model => model.Seeking) : </stong>
                        @Html.DisplayFor(model => model.Seeking)
                    </div>

                    <section style="margin-bottom: 3em;">
                        <h4 class="mb-0">Contact Links</h4>
                        @foreach (var contactLink in Model.ContactLinks)
                        {
                            <div class="card-link">
                                @Html.DisplayFor(modelItem => contactLink.ContactLinkLabel) :
                                @Html.DisplayFor(modelItem => contactLink.ContactLinkUrl)
                            </div>
                        }
                    </section>

                    <section class="card-footer">
                        @if (currentUser == Model.Id)
                        {

                            <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                            <a class="btn btn-sm btn-secondary" asp-action="Index">Back to List</a>

                        }
                        else
                        {

                            <a class="btn btn-sm btn-secondary" asp-action="Index">Back to List</a>

                        }
                    </section>
                </div>
            </div>
        </div>
    </div>
</aside>

@*User Projects Heading Card*@
<div class="container padding">
    <div class="col-md-10 px-0 mx-auto">
        <div class="card bg-primary text-center text-white shadow padding">
            <h3 id="userTitle">@Html.DisplayFor(model => model.FirstName)  @Html.DisplayFor(model => model.LastName)'s Projects</h3>
        </div>
    </div>
</div>

@*User Project Card Display*@
<div class="card-columns">
    @foreach (var userProject in Model.UserProjects)
    {
        var projectPhotoPath = "~/image/" + (userProject.Project.PhotoPath);
        var projectPath = "https://localhost:44359/Projects/Details/" + (userProject.Project.ProjectID);
        var projectId = (userProject.Project.ProjectID);

        <div class="container padding">
            <div class="col-md-12">
                <div class="card text-black mb-3 padding">
                    @*Note: We do not want to display the PhotoPath Path but the image itself*@
                    <div>
                        <a href="@projectPath"><img class="img-thumbnail mx-auto d-block" src=" @projectPhotoPath" alt="@Html.DisplayFor(modelItem => userProject.Project.Title)" asp-append-version="true" /></a>
                    </div>
                    <div>
                        @Html.DisplayNameFor(modelItem => userProject.Project.Title) :
                        @Html.DisplayFor(modelItem => userProject.Project.Title)
                    </div>
                    <div>
                        @Html.DisplayNameFor(modelItem => userProject.Project.Description) :
                        @Html.DisplayFor(modelItem => userProject.Project.Description)
                    </div>
                    <div>
                        @Html.DisplayNameFor(modelItem => userProject.Project.StartDate) :
                        @Html.DisplayFor(modelItem => userProject.Project.StartDate)
                    </div>
                    <div>
                        @Html.DisplayNameFor(modelItem => userProject.Project.EndDate) :
                        @Html.DisplayFor(modelItem => userProject.Project.EndDate)
                    </div>
                    <div>
                        @Html.DisplayNameFor(modelItem => userProject.Project.CreationDate) :
                        @Html.DisplayFor(modelItem => userProject.Project.CreationDate)
                    </div>

                    <h4>Collaborators</h4>

                    @foreach (var collab in ViewBag.collaborators)
                    {
                        if ((userProject.UserID != collab.UserID) && (userProject.ProjectID == collab.ProjectID))
                        {
                            var collabPath = "~/image/" + (collab.User.PhotoPath);
                            var collabMemberPath = "https://localhost:44359/Users/Details/" + (collab.UserID);

                            <a href="@collabMemberPath"><img class="small-thumbnail" src=" @collabPath" asp-append-version="true" /></a>
                        }

                    }



                    <h4>Project Links</h4>
                    @foreach (var link in userProject.Project.ProjectLinks)
                    {
                        <a class="card-link" href=" @Html.DisplayFor(modelItem => link.ProjectLinkUrl)" target="_blank">@Html.DisplayFor(modelItem => link.ProjectLinkLabel)</a>
                        <br />
                    }

                    <div class="card-footer">
                        <a class="btn btn-md btn-primary" href="@projectPath">View Project</a>
                    </div>
                </div>
            </div>
        </div>

    }
</div>


