@model ConstellationWebApp.Models.ViewModel
@using System.Security.Claims;

@{
    ViewData["Title"] = "Index - Users";
    var currentUser = this.User.FindFirstValue(ClaimTypes.NameIdentifier);
}

    <link rel="stylesheet" href="~/css/cards.css" />
    <link rel="stylesheet" href="~/css/user-index.css" />


<!-- User index container -->
<div class="user-index-container">
    <div class="user-index-bread-crumb">Home > Members</div>
    <!-- search Bars -->
    <div class="user-index-search-bars">
        <form action="" class="search-bar0">
            <div class="input-group">
                <input type="search" placeholder="Search.." aria-describedby="button-addon5" class="form-control" style="width: 100px">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
        <form asp-action="Index" asp-controller="Users" class="search-bar1">
            <div class="input-group">
                <input type="search" name="nameSearch" placeholder="Search by name.." aria-describedby="button-addon5" class="form-control" style="width: 100px">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
        <form asp-action="Index" asp-controller="Users" class="search-bar2">
            <div class="input-group">
                <input list="disciplines-List" name="discplineSearch" placeholder="Seach by a discipline.." aria-describedby="button-addon5" class="form-control" style="width: 100px">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
        <form asp-action="Index" asp-controller="Users" class="search-bar2">
            <div class="input-group">
                <input list="skill-List" name="skillSearch" placeholder="Seach by a skill.." aria-describedby="button-addon5" class="form-control" style="width: 100px">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>

        <!-- User contents goes in here -->
        <div class="user-index-head"><h2>Members</h2></div>
        <div class="user-index-content">
            <!-- Sample Card -->
            <datalist id="disciplines-List">
                @{
                    List<ConstellationWebApp.Models.Discipline> disciplines = Model.Disciplines.ToList();

                    foreach (var disciipline in disciplines)
                    {
                        <option value="@disciipline.DisciplineName"></option>
                    }
                @:</datalist>
                }

                <datalist id="skill-List">
                    @{
                        List<ConstellationWebApp.Models.Skill> skills = Model.Skills.ToList();

                        foreach (var skill in skills)
                        {
                            <option value="@skill.SkillName"></option>
                        }
                    @:</datalist>
                    }

                    @foreach (var item in Model.Users)
                    {
                        if (item.displayMyProfile == true)
                        {
                            var photoPath = "~/image/" + (item.PhotoPath);


                            <!-- CSS RULES FOR INDIVIDUAL CARDS -->
                            <div class="const-card-wrapper">
                                <div class="const-card">
                                    <img class="const-card-image" src="/WebAssests/siteImages/constelation_image.webp" alt="card background">
                                    <a href="./Users/Details/@item.Id"><img class="const-profile-image" src=" @photoPath" alt="@Html.DisplayFor(modelItem => item.UserName)" asp-append-version="true" /></a>
                                    <h1> @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</h1>
                                    <h3><strong>User Name : </strong>@Html.DisplayFor(modelItem => item.UserName)</h3>
                                    <!--Area of Discipline-->
                                    @if (!(string.IsNullOrEmpty(item.AreaOfDiscipline)))
                                    {
                                        <h2>@Html.DisplayNameFor(modelItem => item.AreaOfDiscipline)</h2>
                                        <div class="discipline">@Html.DisplayFor(modelItem => item.AreaOfDiscipline)</div>
                                    }
                                    <!--Seeckin-->
                                    @if (!(string.IsNullOrEmpty(item.Seeking)))
                                    {
                                        <h2>@Html.DisplayNameFor(modelItem => item.Seeking)</h2>
                                        <div class="discipline">@Html.DisplayFor(modelItem => item.Seeking)</div>
                                    }
                                    <!--Contack Links-->
                                    <h2>Contact Links</h2>

                                    <div class="discipline">
                                        @foreach (var link in item.ContactLinks)
                                        {
                                            <strong> @Html.DisplayFor(modelItem => link.ContactLinkLabel) :</strong>
                                            @Html.DisplayFor(modelItem => link.ContactLinkUrl)
                                        }
                                        <!--Message from Nwokolo: Ryan if we can users to enter their social media information in these area, That will be great-->
                                        <!-- <ul class="social-media">
                                        <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-square"></i></a></li>
                                        <li><a href="#"><i class="fab fa-github-square"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                                </ul> -->
                                    <div class="const-card-footer">
                                        @{
                                            if (item.Id == currentUser)
                                            {
                                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-lg btn-primary">Edit</a>
                                       
                                                <a class="btn btn-lg btn-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-lg btn-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                            }
                                        }
                                    </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>
            </div>