@model ConstellationWebApp.Models.ViewModel
@using System.Security.Claims;


@{
    ViewData["Title"] = "Index";
    var currentUser = this.User.FindFirstValue(ClaimTypes.NameIdentifier);
}

    <div class="d-flex shadow padding">
        <h3 class="mr-auto">Users of Constellation</h3>
    </div>
<div id="projectDisplay" class="overflow-auto">
    @foreach (var item in Model.Users)
    {
        if (item.displayMyProfile == true)
        {
            var photoPath = "~/image/" + (item.PhotoPath);

            
                        <div class="col-md-12 card shadow text-black-50 bg-light m-2 padding">
                            @*Note: We do not want to display the PhotoPath Path but the image itself*@
                            <div>
                                <img style="height: 300px; width: 100%; display: block;" src=" @photoPath" alt="@Html.DisplayFor(modelItem => item.UserName)" asp-append-version="true" />
                            </div>
                            <div class="card-body">
                                <div>
                                    @Html.DisplayNameFor(modelItem => item.UserName) :
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </div>
                                <div>
                                    @Html.DisplayNameFor(modelItem => item.FirstName) :
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </div>
                                <div>
                                    @Html.DisplayNameFor(modelItem => item.LastName) :
                                    @Html.DisplayFor(modelItem => item.LastName)

                                </div>
                                <div>
                                    @Html.DisplayNameFor(modelItem => item.Bio) :
                                    @Html.DisplayFor(modelItem => item.Bio)

                                </div>
                                <div>
                                    @Html.DisplayNameFor(modelItem => item.Seeking) :
                                    @Html.DisplayFor(modelItem => item.Seeking)

                                </div>
                            </div>
                            <h4 class="card-title">Contact Links</h4>
                            @foreach (var link in item.ContactLinks)
                            {
                                <div class="card-link">
                                    @Html.DisplayFor(modelItem => link.ContactLinkLabel) :
                                    @Html.DisplayFor(modelItem => link.ContactLinkUrl)
                                </div>
                                <br />
                            }
                            @{
                                if (item.Id == currentUser)
                                {
                                    <div class="card-footer">
                                        <a class="btn btn-md btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                        <a class="btn btn-md btn-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a>

                                    </div>
                                }
                                else
                                {
                                    <div class="card-footer">
                                        <a class="btn btn-md btn-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                    </div>
                                }
                            }
                        </div>
                   
        }
    }

    </div>
