@model ConstellationWebApp.Models.ViewModel
@using System.Security.Claims;

@{
    ViewData["Title"] = "Index - Users";
    var currentUser = this.User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<link rel="stylesheet" href="~/css/cards.css" />
<link rel="stylesheet" href="~/css/user-index.css" />

<!-- Page info -->
<section class="page-info">
    <div class="info-button" id="button-info">View&nbsp;Page&nbsp;Info</div>
    <article>
        See the current people using this platform. Check out their projects and resume, see who they work with, and
        get their contact information by visiting their profiles.
    </article>
</section>
<!-- #endregion -->
<!-- User index container -->
<div class="user-index-container">
    <div class="user-index-bread-crumb">Home > Users</div>
    <!-- search Bars -->
    <div class="general-search-bars">
        <form action="" class="search-bar0">
            <div class="input-group">
                <input type="search" placeholder="Search.." aria-describedby="button-addon5" class="form-control" style="width: 100px">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
        <form asp-action="Index" asp-controller="Users" class="search-bar1">
            <div class="input-group">
                <input type="search" name="nameSearch" placeholder="Search by name.." aria-describedby="button-addon5" class="form-control" style="width: 100px">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
        <form asp-action="Index" asp-controller="Users" class="search-bar2">
            <div class="input-group">
                <input list="disciplines-List" name="discplineSearch" placeholder="Seach by a discipline.." aria-describedby="button-addon5" class="form-control" style="width: 100px">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
        <form asp-action="Index" asp-controller="Users" class="search-bar3">
            <div class="input-group">
                <input list="skill-List" name="skillSearch" placeholder="Seach by a skill.." aria-describedby="button-addon5" class="form-control" style="width: 100px">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>

    <!-- User contents goes in here -->
    <div class="general-index-head"><h2>Users&nbsp;of&nbsp;Constellation</h2></div>
    <div class="user-index-content">
        <datalist id="disciplines-List">
            @{
                List<ConstellationWebApp.Models.Discipline> disciplines = Model.Disciplines.ToList();

                foreach (var disciipline in disciplines)
                {
                    <option value="@disciipline.DisciplineName"></option>
                }
            @:</datalist>
            }

            <datalist id="skill-List">
                @{
                    List<ConstellationWebApp.Models.Skill> skills = Model.Skills.ToList();

                    foreach (var skill in skills)
                    {
                        <option value="@skill.SkillName"></option>
                    }
                @:</datalist>
                }

                @foreach (var item in Model.Users)
                {
                    if (item.displayMyProfile == true)
                    {


                        var photoPath = "";
                        if (item.PhotoPath != null)
                        {
                            photoPath = "~/image/" + item.PhotoPath;
                        }
                        else
                        {
                            photoPath = "~/WebAssests/siteImages/avataricon.png";
                        }
                        <!-- CSS RULES FOR INDIVIDUAL CARDS -->
                        @*<div class="const-card-wrapper">*@
    <div class="const-card-wrapper">
        <div class="const-card">
            <img class="const-card-image" src="/WebAssests/siteImages/constelation_image.webp" alt="card background">
            <a href="./Users/Details/@item.Id"><img class="const-profile-image" src=" @photoPath" alt="@Html.DisplayFor(modelItem => item.UserName)" asp-append-version="true" /></a>
            <h1> @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</h1>
            <h3><strong>User Name : </strong>@Html.DisplayFor(modelItem => item.UserName)</h3>
            <div class="more-info">
                <!--Area of Discipline-->
                @if (!(string.IsNullOrEmpty(item.AreaOfDiscipline)))
                {
                    <h2>@Html.DisplayNameFor(modelItem => item.AreaOfDiscipline)</h2>
                    <div class="discipline">@Html.DisplayFor(modelItem => item.AreaOfDiscipline)</div>
                }

                <!--Seeking-->
                @if (!(string.IsNullOrEmpty(item.Seeking)))
                {
                    <h2> @Html.DisplayNameFor(modelItem => item.Seeking)</h2>
                    <div class="discipline">@Html.DisplayFor(modelItem => @item.Seeking)</div>
                }


                @*Contact Links*@
                @if (item.ContactLinks.Any())
                {
                    <h2>Contact Links</h2>
                    <div class="discipline">
                        @foreach (var link in item.ContactLinks)
                        {
                            <a href="@link.ContactLinkUrl" target="_blank">@link.ContactLinkLabel</a>
                        }
                    </div>
                }

            </div>
            @*<div>
                <strong class="text-warning">
                    @Html.DisplayNameFor(modelItem => item.UserName) :
                </strong>

            </div>
            <div>
                <strong class="text-warning">
                    @Html.DisplayNameFor(modelItem => item.LastName) :
                </strong>
            </div>*@

            <div class="const-card-footer">
                @{
                    if (item.Id == currentUser)
                    {
                        <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-sm btn-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    }
                    else
                    {
                        <a class="btn btn-sm btn-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    }

                }
            </div>
        </div>
        </div>
        @*</div>*@
        }
        }

    </div>
        </div>