@model ConstellationWebApp.Models.Posting
@using System.Security.Claims;

@{
    ViewData["Title"] = "Postings Create";
    var currentUser = this.User.FindFirstValue(ClaimTypes.NameIdentifier);
}
<link rel="stylesheet" href="/css/postings-create.css" />

<!-- Page info -->
<section class="page-info">
    <div class="info-button" id="button-info">View&nbsp;Page&nbsp;Info</div>
    <article>
        Creating a posting can be for individuals who are searching for someone to join their project or for recruiters
        who are seeking candidates. Below you can specify the kind of job, its description, the role or title, and the
        company or project that it is made for. Those who are interested will be given the ability to say so when they
        visit your posting's details page. You will be able to add those interested to a “picks pool”. You can also
        access this page on the posting candidates page. This is found in the My Stuff tab which is part of the profile
        navigation located on the top right corner of the site when logged in. You can also add any user to this pool by
        visiting their profile.
    </article>
</section>
<!-- #endregion -->
<div class="postings-create-container">


    <div class="postings-header">Create Postings</div>

    <div class="postings-create-content">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!--Postings Title-->
            <div class="form-group">
                <label asp-for="PostingTitle" class="control-label"></label>
                <input asp-for="PostingTitle" class="form-control" />
                <span asp-validation-for="PostingTitle" class="text-danger"></span>
            </div>
            <!--Postings Description-->
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <!--Postings Categories-->
            <div class="form-group">
                <label asp-for="PostingFor" class="control-label"></label>
                <input asp-for="PostingFor" class="form-control" />
                <span asp-validation-for="PostingFor" class="text-danger"></span>
            </div>
            <!--Linking to postings-->
            <div class="form-group">
                <label asp-for="SharableToTeam" class="control-label">Allow projects, where you're a collaborator, to Link to this posting?</label>
                <div>
                    @Html.CheckBoxFor(m => m.SharableToTeam) Yes
                </div>
            </div>
            <!--Hide Postings From People-->
            @* Need to say reasoning: Hold off on showing all people this posting, save it for later, or maybe reuse it next time you recuit for a similar posiiton*@
            <div class="form-group">
                <label asp-for="HidePosting" class="control-label">Do you want your Posting hidden to others?</label>
                <div>
                    @Html.CheckBoxFor(m => m.HidePosting) Yes
                </div>
            </div>
            <!--Type of postings with lists-->
            <div class="form-group postings-create-type">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                List<ConstellationWebApp.Models.AssignedTypeData> postingTypes = ViewBag.PostingTypes;

                                foreach (var postingType in postingTypes)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedTypes"
                                               value="@postingType.PostingTypeID"
                                               @(Html.Raw(postingType.Assigned ? "checked=\"checked\"" : "")) />
                                        @:  @postingType.PostingTypeName
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                </div>
                <div class="const-card-footer">
                    <input type="submit" value="Create" class="btn btn-md btn-primary" />
                    <a class="btn btn-md btn-secondary" asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>

    </div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }