@model ConstellationWebApp.Models.Posting
@using System.Security.Claims;

@{
    ViewData["Title"] = "Create";
    var currentUser = this.User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<h1>Create</h1>

<h4>Posting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PostingTitle" class="control-label"></label>
                <input asp-for="PostingTitle" class="form-control" />
                <span asp-validation-for="PostingTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostingFor" class="control-label"></label>
                <input asp-for="PostingFor" class="form-control" />
                <span asp-validation-for="PostingFor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SharableToTeam" class="control-label">Do you want your Posting avialable for Projects to Link to?</label>
                @Html.CheckBoxFor(m => m.SharableToTeam)
            </div>
            @* Need to say reasoning: Hold off on showing all people this posting, save it for later, or maybe reuse it next time you recuit for a similar posiiton*@
            <div class="form-group">
                <label asp-for="HidePosting" class="control-label">Do you want your Posting visible to others?</label>
                @Html.CheckBoxFor(m => m.HidePosting)
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                List<ConstellationWebApp.Models.AssignedTypeData> postingTypes = ViewBag.PostingTypes;

                                foreach (var postingType in postingTypes)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedTypes"
                                               value="@postingType.PostingTypeID"
                                               @(Html.Raw(postingType.Assigned ? "checked=\"checked\"" : "")) />
                                        @:  @postingType.PostingTypeName
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }