@model ConstellationWebApp.Models.Posting
@using System.Security.Claims;

@{
    ViewData["Title"] = "Create";
    var currentUser = this.User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<h1>Details</h1>

<div>
    <h4>Posting</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostingFor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostingFor)
        </dd>
    </dl>
</div>
@if (currentUser == Model.PostingOwner.Id)
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model.PostingID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
}
else
{
    <a asp-action="Index">Back to List</a>
}