@model ConstellationWebApp.Models.Posting
@using System.Security.Claims;

@{
    ViewData["Title"] = "Edit Posting";
    var currentUser = this.User.FindFirstValue(ClaimTypes.NameIdentifier);


    List<ConstellationWebApp.Models.Skill> skills = ViewBag.Skills;
    List<ConstellationWebApp.Models.Discipline> disciplines = ViewBag.disciplines;
    List<ConstellationWebApp.Models.SkillDiscipline> skillDisciplines = ViewBag.skillDisciplines;
    List<ConstellationWebApp.Models.PostingSkills> postingSkills = ViewBag.postingSkills;

    Discipline currentDiscipline = ViewBag.currentDiscipline;


}
<link rel="stylesheet" href="/css/postings-general.css" />
<link rel="stylesheet" href="~/css/user-skill-page-index.css">

<div class="postings-general-container">

    <div class="postings-header">Edit Postings</div>
    <div class="postings-general-content">
        @{
            if (currentUser == Model.PostingOwner.Id)
            {

                <section>
                    <button class="tablinks" onclick="openLinkPage('EntityData', this, 'lightblue')" id="defaultLinkOpen">Posting's Basic Info</button>
                    <button class="tablinks" onclick="openLinkPage('RelationalData', this, 'lightgray')">Posting's Skills</button>
                    @* #######################################
                       Section Containing  Posting Entity Property Inputs
                      ###################################### *@
                    <div id="EntityData" class="linktabcontent">
                        <!-- #region Update Entity Data-->

                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="PostingID" />
                            <!--Posting Title-->
                            <div class="form-group">
                                <label asp-for="PostingTitle" class="control-label"></label>
                                <input asp-for="PostingTitle" class="form-control col-md-9 col-sm-12" />
                                <span asp-validation-for="PostingTitle" class="text-danger"></span>
                            </div>
                            <!--Posting Description-->
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <textarea asp-for="Description" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <!--Postings Categories-->
                            <div class="form-group">
                                <label asp-for="PostingFor" class="control-label"></label>
                                <input asp-for="PostingFor" class="form-control" />
                                <span asp-validation-for="PostingFor" class="text-danger"></span>
                            </div>
                            <!--Linking to postings-->
                            <div class="form-group">
                                <label asp-for="SharableToTeam" class="control-label">Allow projects, where you're a collaborator, to Link to this posting?</label>
                                <div>
                                    @Html.CheckBoxFor(m => m.SharableToTeam) Yes
                                </div>
                            </div>
                            <!--Hide Postings From People-->
                            @* Need to say reasoning: Hold off on showing all people this posting, save it for later, or maybe reuse it next time you recuit for a similar posiiton*@
                            <div class="form-group">
                                <label asp-for="HidePosting" class="control-label">Do you want your Posting hidden to others?</label>
                                <div>
                                    @Html.CheckBoxFor(m => m.HidePosting) Yes
                                </div>
                            </div>
                            <!--Type of postings with lists-->
                            <div class="form-group">
                                <div>
                                    <table>
                                        <tr>
                                            @{
                                                int cnt = 0;
                                                List<ConstellationWebApp.Models.AssignedTypeData> postingTypes = ViewBag.PostingTypes;

                                                foreach (var postingType in postingTypes)
                                                {
                                                    if (cnt++ % 3 == 0)
                                                    {
                                                    @:</tr><tr>
                                                    }
                                                    @:<td>
                                                        <input type="checkbox"
                                                               name="selectedTypes"
                                                               value="@postingType.PostingTypeID"
                                                               @(Html.Raw(postingType.Assigned ? "checked=\"checked\"" : "")) />
                                                        @:  @postingType.PostingTypeName
                                                    @:</td>
                                                }
                                            @:</tr>
                                            }
                                        </table>
                                    </div>
                                </div>
                                <div class="const-card-footer">
                                    <input type="submit" value="Update" class="btn btn-sm btn-primary mr-1" />
                                    <a class="btn btn-sm btn-danger mr-1" asp-action="Delete" asp-route-id="@Model.PostingID">Delete</a>
                                    <a class="btn btn-sm btn-secondary" asp-action="Index">Back to List</a>
                                </div>
                            </form>
                            <!-- #endregion -->
                        </div>

                    <style>
                        .postings-general-container {
                            margin-bottom: 15em;
                        } 
                    </style>
                        @* #######################################
                            Section Containing  Posting Skills
                           ###################################### *@
                        <!-- #region Relation: Posting Skills-->
                        <div id="RelationalData" class="linktabcontent">
                            <section class="Skill-form">
                                @* Discipline Name *@
                                <h3>@currentDiscipline.DisciplineName</h3>

                                @* this is to seach by a specific discipline *@
                                <form asp-action="Edit" asp-controller="Postings" method="get">
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <datalist id="Priority-Level-List">
                                                <option value=1>Required - Must have skill to be considered</option>
                                                <option value=2>Wanted - Skill that will be needed but can be learned</option>
                                                <option value=3>Desired - Skill that are not expected but will be usefull</option>
                                            </datalist>

                                            <datalist id="AreaOfDiscipline-List">
                                                @{

                                                    foreach (var discipline in disciplines)
                                                    {
                                                        <option value="@discipline.DisciplineName" data-id="@discipline.DisciplineName"></option>
                                                    }
                                                @:</datalist>
                                            @:</div>
                                                }
                                            </div>

                                            <div class="form-inline">
                                                <label for="disciplineSearchString" class="sr-only">Search by Discipline</label><!--WORKING HERE AND ON THE HEIGHT OF THE PAGE-->
                                                <input id="disciplineSearchString" name="disciplineSearchString" list="AreaOfDiscipline-List">
                                                <input type="hidden" name="id">

                                                <div class="form-group mx-auto mb-0">
                                                    <input class="btn btn-md btn-primary mb-1 mx-auto" type="submit" value="Find Discipline" />
                                                </div>
                                            </div>
                                        </form>
                                        <br />
                                        <section>
                                            <button class="tablink" onclick="openPage('AddSkills', this, 'lightblue')" id="defaultOpen">Add Skills</button>
                                            <button class="tablink" onclick="openPage('RemoveSkills', this, 'red')">Remove Skills</button>

                                            @*Adding UserSKills*@
                                        <div id="AddSkills" class="tabcontent">
                                            <h3>Batch group skills for this Posting by ranking it's priority.</h3>
                                            <form asp-action="CreateManyPostingSkills" asp-controller="Postings">
                                                @{
                                                    <input id="priorityInput" name="priorityValue" list="Priority-Level-List" placeholder="Choose priority ... "  required>

                                                    foreach (var skill in skillDisciplines.Where(i => i.DisciplineID == currentDiscipline.DisciplineID))
                                                    {
                                                        Skill skillName = skills.Where(i => i.SkillID == skill.SkillID).FirstOrDefault();
                                                        var kickout = false;
                                                        foreach (var uSkill in postingSkills.Where(i => i.SkillID == skill.SkillID))
                                                        {
                                                            kickout = true;
                                                        }
                                                        if (kickout == true)
                                                        {
                                                            continue;
                                                        }
                                                        else
                                                        {
                                                            var assigned = false;
                                                            @:<div>
                                                                <input type="checkbox" name="skills" value="@skill.SkillID" @(Html.Raw((assigned) ? "checked=\"checked\"" : "")) /> @skillName.SkillName;
                                                            @:</div>
                                                        }
                                                    }
                                                    <div class="form-group mb-0">
                                                        <input type="hidden" value="@currentUser" name="userID" />
                                                        <input type="hidden" value="@Model.PostingID" name="PostingID" />
                                                    </div>
                                                    <input type="hidden" name="disciplineSearchString" value="@currentDiscipline.DisciplineName">
                                                    <div class="form-group">
                                                        <input type="submit" value="Link selected skills" class="btn btn-sm btn-info" />
                                                    </div>
                                                }
                                            </form>                          

                                        </div>

                                            @*Removing UserSKills*@
                                        <div id="RemoveSkills" class="tabcontent">
                                            <h3>@currentDiscipline.DisciplineName related skills added to Project</h3>
                                            <form asp-action="RemoveManyPostingSkills" asp-controller="Postings">
                                                @{
                                                    foreach (var skill in skillDisciplines.Where(i => i.DisciplineID == currentDiscipline.DisciplineID))
                                                    {
                                                        Skill skillName = skills.Where(i => i.SkillID == skill.SkillID).FirstOrDefault();
                                                        foreach (var uSkill in postingSkills.Where(i => i.PostingID == Model.PostingID && i.SkillID == skill.SkillID))
                                                        {
                                                            var assigned = false;
                                                            @:<div>
                                                                <input type="checkbox" name="skills" value="@skill.SkillID" @(Html.Raw((assigned) ? "checked=\"checked\"" : "")) /><span> @uSkill.PriorityLevel - </span>@skillName.SkillName;
                                                            @:</div>
                                                        }
                                                    }
                                                    <div class="form-group mb-0">
                                                        <input type="hidden" value="@Model.PostingID" class="form-control" name="postingID" />
                                                        <input type="hidden" value="@currentDiscipline.DisciplineID" class="form-control" name="disciplineID" />
                                                        <input type="hidden" name="disciplineSearchString" value="@currentDiscipline.DisciplineName">
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="submit" value="Remove selected skills" class="btn btn-sm btn-info" />
                                                    </div>
                                                }
                                            </form>
                                  

                                        </div>
                                        </section>
                                    </section>
                                    <!-- #endregion-->
                                </div>
                            </section>
                                        }
                                        else
                                        {
                                        <h2>You do not own this job posting, Log In as this User to Edit.</h2>
                                        <a class="btn btn-sm btn-secondary" asp-action="Index">Back to List</a>
                                        }
                             
                                                    }
          
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function openPage(pageName, elmnt, color) {
            // Hide all elements with class="tabcontent" by default */
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Remove the background color of all tablinks/buttons
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
            }

            // Show the specific tab content
            document.getElementById(pageName).style.display = "block";

            // Add the specific color to the button used to open the tab content
            elmnt.style.backgroundColor = color;
        }

        function openLinkPage(pageName, elmnt, color) {
            // Hide all elements with class="tabcontent" by default */
            var i, linktabcontent, tablinks;
            tabcontent = document.getElementsByClassName("linktabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Remove the background color of all tablinks/buttons
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
            }

            // Show the specific tab content
            document.getElementById(pageName).style.display = "block";

            // Add the specific color to the button used to open the tab content
            elmnt.style.backgroundColor = color;
        }


        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultLinkOpen").click();
        document.getElementById("defaultOpen").click();

    </script>
}