@model ConstellationWebApp.Models.ViewModel
@using System.Security.Claims;

@{
    ViewData["Title"] = "Job and Postings Index";
    var currentUser = this.User.FindFirstValue(ClaimTypes.NameIdentifier);
}
<link rel="stylesheet" href="/css/postings-index.css" />
<link rel="stylesheet" href="/css/cards.css" />
<!-- Page info -->
<section class="page-info">
    <div class="info-button" id="button-info">View&nbsp;Page&nbsp;Info</div>
    <article id="info-article">
        View all the postings currently listed on the platform. If you need to make a posting, click the create button.
        If you want to see more details about a posting, click the details button. When you own postings you can edit and delete them from this page.
    </article>
</section>
<!-- #endregion -->
<!-- The Postings index container -->
<div class="posting-index-container">
    <div class="posting-index-bread-crumb">Home > Postings</div>
    <!-- search Bars -->
    <div class="general-search-bars">
        <!-- Create Job Postings button -->
        <a asp-action="Create"><div class="create-posting btn btn-md btn-success">Create&nbsp;Job&nbsp;Posting</div></a>
        <!--Search Boxes-->
        <form asp-action="Index" asp-controller="Postings" class="search-bar1">
            <div class="input-group">
                <input type="search" name="titleSearch" placeholder="Search by title.." aria-describedby="button-addon5" class="form-control" style="width: 100px">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
        <form asp-action="Index" asp-controller="Postings" class="search-bar2">
            <div class="input-group">
                <input list="postingTypes-List" name="typeSearch" placeholder="Seach by post type.." aria-describedby="button-addon5" class="form-control" style="width: 100px">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
        <form asp-action="Index" asp-controller="Postings" class="search-bar3">
            <div class="input-group">
                <input type="search" name="postingBySearch" placeholder="Search by post Owner.." aria-describedby="button-addon5" class="form-control" style="width: 100px">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>

    <!-- Postings contents goes in here -->
    <div class="general-index-head"><h2>Job Postings</h2></div>
    <div class="posting-index-content">
        <datalist id="postingTypes-List">
            @{
                List<ConstellationWebApp.Models.PostingType> postingTypes = Model.PostingTypes.ToList();

                foreach (var postingType in postingTypes)
                {
                    <option value="@postingType.PostingTypeName" data-id="@postingType.PostingTypeName"></option>
                }
            @:</datalist>
            }

            @{
                foreach (var item in Model.Postings)
                {
                    var photoPath = "";
                    if (item.PostingOwner.PhotoPath != null)
                    {
                        photoPath = "~/image/" + item.PostingOwner.PhotoPath;
                    }
                    else
                    {
                        photoPath = "~/WebAssests/siteImages/avataricon.png";
                    }

                    var collabMemberPath = "../Users/Details/" + (item.PostingOwner.Id);
                    var postingPath = " ../Postings/Details/" + (item.PostingID);

                    <!-- Job postings card -->
                    <div class="const-card-wrapper" style="cursor: pointer;" onclick="window.location='@postingPath';">
                        <div class="const-card">
                            <div class="postings-title">@Html.DisplayFor(modelItem => item.PostingFor)</div>
                            <div class="position"><strong>Position : </strong>@Html.DisplayFor(modelItem => item.PostingTitle)</div>
                            <div class="postings-info">
                                <div class="owners-box">
                                    <a href="@collabMemberPath"><img image" style="width: 150px; height: 150px;" src=" @photoPath" alt="@Html.DisplayFor(modelItem => item.PostingOwner.UserName)" asp-append-version="true" /></a>
                                </div>
                                <div class="job-owners-name">@Html.DisplayFor(modelItem => item.PostingOwner.UserName)</div>

                                <!--Postings Details-->
                                <div class="postings-details">
                                    <h2>Type of Posting</h2> 
                                    <div class="postings-type">
                                        @foreach (var type in item.Posting_PostingTypes)
                                        {
                                            <p>
                                               | @type.PostingTypes.PostingTypeName |
                                            </p>
                                        }
                                    </div>
                                    @*<div class="postings-description">
                                        <h2>Description</h2>
                                        <p>@Html.DisplayFor(modelItem => item.Description)</p>
                                    </div>*@
                                </div>
                            </div>
                            <!--Card footer-->
                            <div class="const-card-footer">
                                @if ((currentUser == item.PostingOwner.Id) && (currentUser != null))
                                {

                                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.PostingID">Edit</a>
                                    <a class="btn btn-sm btn-secondary" asp-action="Details" asp-route-id="@item.PostingID">Details</a>
                                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.PostingID">Delete</a>
                                }
                                else
                                {
                                    <a class="btn btn-sm btn-secondary" asp-action="Details" asp-route-id="@item.PostingID">Details</a>
                                }
                            </div>
                        </div>
                    </div> 
                }
            }
        </div>
    </div>
