@model ConstellationWebApp.Models.ViewModel
@using System.Security.Claims;

@{
    ViewData["Title"] = "Starred Postings";
    var currentUser = this.User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<link rel="stylesheet" href="/css/postings-index.css" />
<link rel="stylesheet" href="/css/cards.css" />

<!-- Page info -->
<section class="page-info">
    <div class="info-button" id="button-info">View&nbsp;Page&nbsp;Info</div>
    <article>
        Your 'starred' job postings are shown below. To add more to this list, visit a job posting’s details
        page that you want to add from. If you no longer want to have a certain job posting 'starred', remove
        it by clicking the remove button on this page or on the project’s details page.
    </article>
</section>
<!-- #endregion -->

<div class="posting-index-container">
    <div class="posting-index-bread-crumb">My Stuff > Starred Postings</div>
    <div class="general-index-head"><h2>Starred Postings</h2></div>
    <div class="posting-index-content">
        @foreach (var item in Model.StarredPostings.Where(i => i.UserID == currentUser))
        @*@for (int i = 0; i < Model.Count(); i++)*@

        {
            var spID = item.StarredPostingID;
            var photoPath = "";
            if (item.Posting.PostingOwner.PhotoPath != null)
            {
                photoPath = "~/image/" + item.Posting.PostingOwner.PhotoPath;
            }
            else
            {
                photoPath = "~/WebAssests/siteImages/avataricon.png";
            }


            var postingOwenrPath = "../Users/Details/" + (item.Posting.PostingOwner.Id);
            var postingPath = " ../Postings/Details/" + (item.PostingID);
            <!-- Job postings card -->
            <div class="const-card-wrapper" style="cursor: pointer;" onclick="window.location='@postingPath';">
                <div class="const-card">
                    <div class="postings-title">@Html.DisplayFor(modelItem => item.Posting.PostingFor)</div>
                    <div class="position"><strong>Position: </strong>  @Html.DisplayFor(modelItem => item.Posting.PostingTitle)</div>
                    <div class="postings-info">
                        <div class="owners-box">
                            <a href="@postingOwenrPath"><img image" style="width: 150px; height: 150px;" src=" @photoPath" alt="@Html.DisplayFor(modelItem => item.Posting.PostingOwner.UserName)" asp-append-version="true" /></a>
                        </div>
                        <div class="job-owners-name">@Html.DisplayFor(modelItem => item.Posting.PostingOwner.UserName)</div>
                        <div class="postings-details">
                            <h2>Type of Posting</h2>
                            <div class="postings-type">
                                @foreach (var type in item.Posting.Posting_PostingTypes)
                                {
                                    <p>
                                        @type.PostingTypes.PostingTypeName
                                    </p>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="const-card-footer">
                        <a class="btn btn-sm btn-secondary" asp-action="Details" asp-controller="Postings" asp-route-id="@item.Posting.PostingID">Post Details</a>
                        @if (currentUser == item.Posting.PostingOwner.Id)
                        {

                                <a class="btn btn-sm btn-secondary" asp-action="Index" asp-controller="Postings">All Postings</a>
                                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-controller="Postings" asp-route-id="@item.Posting.PostingID">Edit</a>
                        }
                        else
                        {
                            <a class="btn btn-sm btn-secondary" asp-action="Index" asp-controller="Postings">View All Postings</a>
                        }


                        <form asp-action="Delete" asp-controller="StarredPostings">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <input type="hidden" asp-for="@item.PostingID" class="form-control" value="@item.PostingID" name="postingID" />
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Remove" class="btn btn-sm btn-secondary btn-danger" />
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        }
    </div>
</div>






