@model ConstellationWebApp.Models.ViewModel
@using System.Security.Claims;

@{
    ViewData["Title"] = "Starred Postings";
    var currentUser = this.User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<!-- #region Info button:-->
<div>
    <button id="btn1"><i class="fa fa-info-circle" style="font-size:24px"></i></button>
    <p id="hidden-info-blip">
        Your 'starred' job postings are shown below. To add more to this list, visit a job posting’s details 
        page that you want to add from. If you no longer want to have a certain job posting 'starred', remove 
        it by clicking the remove button on this page or on the project’s details page.
    </p>
</div><!-- #endregion -->


<h1>My Starred Postings</h1>
@foreach (var item in Model.StarredPostings.Where(i => i.UserID == currentUser))
@*@for (int i = 0; i < Model.Count(); i++)*@

{
    var spID = item.StarredPostingID;
    var photoPath = "";
    if (item.Posting.PostingOwner.PhotoPath != null)
    {
        photoPath = "~/image/" + item.Posting.PostingOwner.PhotoPath;
    }
    else
    {
        photoPath = "~/WebAssests/siteImages/avataricon.png";
    }


    var collabMemberPath = "../Users/Details/" + (item.Posting.PostingOwner.Id);

    <div>
        <h4>Posting</h4>
        <hr />
        <h2>
            @Html.DisplayFor(modelItem => item.Posting.PostingFor)
        </h2>
        <div>
            @Html.DisplayFor(modelItem => item.Posting.PostingTitle)
        </div>
        <div>
            @Html.DisplayFor(modelItem => item.Posting.Description)
        </div>
        <div>
            <a href="@collabMemberPath"><img class="small-thumbnail" src=" @photoPath" alt="@Html.DisplayFor(modelItem => item.Posting.PostingOwner.UserName)" asp-append-version="true" /></a>
        </div>
        <div>
            @Html.DisplayFor(modelItem => item.Posting.PostingOwner.UserName)
        </div>

        <h4>Type of Posting</h4>
        <div class="Demo-Types">
            @foreach (var type in item.Posting.Posting_PostingTypes)
            {
                <div class="Demo-Types">
                    @type.PostingTypes.PostingTypeName
                </div>
                <br />
            }
        </div>
        <form asp-action="Delete" asp-controller="StarredPostings">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="@item.PostingID" class="form-control" value="@item.PostingID" name="postingID" />
            </div>
            <div class="form-group">
                <input type="submit" value="Remove from MyStarred Users" class="btn btn-primary" />
            </div>
        </form>

    </div>

    <a asp-action="Details" asp-controller="Postings" asp-route-id="@item.Posting.PostingID">Post Details</a>

    if (currentUser == item.Posting.PostingOwner.Id)
    {
        <div>
            <a asp-action="Edit" asp-controller="Postings" asp-route-id="@item.Posting.PostingID">Edit</a> |
            <a asp-action="Index" asp-controller="Postings">View All Postings</a>
        </div>
    }
    else
    {
        <a asp-action="Index" asp-controller="Postings">View All Postings</a>
    }

}


